# Root
node_modules/
.vite/
.env
.env.*
!.env.example

# Frontend
Frontend/node_modules/
Frontend/dist/
Frontend/.env
Frontend/.env.*
!Frontend/.env.example

# Backend
Backend/node_modules/
Backend/.env
Backend/.env.*
!Backend/.env.example

# OS/editor
.DS_Store
.idea/
.vscode/
*.log
